body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}
.header{
    text-align: center;
}

#customerName,#customerPhone {
    margin-bottom: 10px;
    width: 20%; /* Set a fixed width or use a percentage value */
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}


#queueList {
    margin-top: 20px;
    border-top: 1px solid #ddd;
    padding-top: 10px;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px; /* Optional: เพิ่มระยะห่างระหว่าง card */
}

.card {
    flex: 1 1 300px; /* Optional: กำหนดขนาด card */
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px;
    position: relative;
}

.delete-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    color: red;
    
}

