*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Itim", cursive;
}

body{
  background-color: #fdf9f9;
}

.product-image {
  width: 100px; /* ปรับขนาดความกว้างของรูปภาพ */
  height: 100px; /* ปรับขนาดความสูงของรูปภาพให้สัดส่วนถูกต้อง */
  margin-bottom: 10px;
}
.custom-purple-bg {
  background-color: #c19cc8; /* You can change this hex color code to any light purple color you prefer */
}
